// import variables
@import "../../../app/variables.scss";

.card {
    width: 100%;
    min-height: 130px;
    padding-bottom: 20px;

    &:last-child {
        padding-bottom: 0;
    }

    @media(max-width: $mp5) {
        min-height: 274px;
    }

    &__wrapper {
        padding: 18px 60px;
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: $white;
        box-shadow: 0px 0px 20px 0px #0000001A;

        @media(max-width: $mp4) {
            padding: 20px;
            gap: 10px;
        }

        @media(max-width: $mp5) {
            flex-direction: column;
            position: relative;
            max-width: 320px;
            margin: 0 auto;
            gap: 20px;
        }

        @media(max-width: $mp7) {
            padding: 10px;
        }
    }

    &__img {
        object-fit: contain;
        object-position: center;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: $black;
        margin: 0;
        flex: 1 1 auto;
    }

    &__counter {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        gap: 5px;

        &_count {
            font-size: 24px;
            font-weight: 400;
            color: $black;
        }

        &_btn {
            background-color: transparent;
            border: none;
            font-size: 24px;
            font-weight: 400;
            color: $black;
            &:hover{
                color: $mainRed;
            }
        }
        &_btnDisActive{
            visibility: hidden;
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 700;
        color: $black;
    }

    &__btnWrapper {
        @media(max-width: $mp5) {
            position: absolute;
            right: 9px;
            top: 7px;
        }
    }

    &__btn {
        position: relative;
        width: 22px;
        height: 22px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            border: 1px solid $mainRed;
        }

        @media(max-width: $mp5) {
            border: 1px solid $mainRed;
        }

        &::before,
        &::after {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $mainRed;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}