// colors

$mainRed: #C90000;
$lightRed: #C8102E;
$redHover: #750000;
$white: #fff;
$black: #0F0F0F;
$lightBlack: #222222;
$gray: #B2B2B2;
$darkGray: #A1A1A1;
$darkGrey: #444444;
$brown: #281A08;
$text: rgba(15, 15, 15, 0.6);
$placeholder: rgba(0, 0, 0, 0.5);
$pagination: #D5D6D4;

// media breakpoints

$mp1: 1239.98px;
$mp2: 1199.98px;
$mp3: 1023.98px;
$mp4: 991.98px;
$mp5: 767.98px;
$mp6: 629.98px;
$mp7: 479.98px;
$mp8: 399.98px;