// import variables
@import "../../../app/variables.scss";

.cart{
    position: relative;

    &__link{
        text-decoration: none;
        color: $white;
    }

    &__lenght{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $mainRed;
        position: absolute;
        top: -6px;
        left: -6px;
        font-size: 10px;
        font-weight: 500;
        color: $white;
    }
}