// import variables
@import "../../app/variables.scss";

.tabs{
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 8px;
    @media(max-width: $mp7){
        justify-content: center;
    }

    &__tab{
        font-size: 20px;
        font-weight: 500;
        color: $black;
        background-color: $white;
        box-shadow: 0px 0px 20px 0px #0000001A;
        border-bottom: 1px solid transparent;
        padding: 14px 46px;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            border-bottom: 1px solid $black;
        }
    }

    &__lastTab{
        padding: 14px 0;
        box-shadow: 0px 0px 20px 0px #0000001A;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
        color: $black;
        background-color: $white;
        border-bottom: 1px solid transparent;
        transition: 0.3s;
        cursor: pointer;
        @media(min-width: $mp3){
            width: 100%;
        }
        @media(max-width: $mp3){
            padding: 14px 46px;
        }
        &:hover{
            border-bottom: 1px solid $black;
        }
    }
    &__tabActive{
        border-bottom: 1px solid $mainRed;
        color: $mainRed;
        &:hover{
            border-bottom: 1px solid $mainRed;
        }
    }
}