// import variables
@import "../../app/variables.scss";

.loadingWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

    &Active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.loading {
    width: 5em;
    height: 5em;
    border-top: 1em solid $mainRed;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: 20px auto;
    animation: spinner 2.5s linear infinite;

    &__circle {
        width: 1em;
        height: 1em;
        background-color: $mainRed;
        border-radius: 50%;
        margin-left: 4.3em;
        margin-top: -0.2em;
    }
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}